interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.elsevier.com/content/article/doi/10.1016/j.nbd.2012.03.039?httpAccept=text%2Fxml&view=FULL
  response:
    body:
      string: "<full-text-retrieval-response xmlns=\"http://www.elsevier.com/xml/svapi/article/dtd\"
        xmlns:bk=\"http://www.elsevier.com/xml/bk/dtd\" xmlns:cals=\"http://www.elsevier.com/xml/common/cals/dtd\"
        xmlns:ce=\"http://www.elsevier.com/xml/common/dtd\" xmlns:ja=\"http://www.elsevier.com/xml/ja/dtd\"
        xmlns:mml=\"http://www.w3.org/1998/Math/MathML\" xmlns:sa=\"http://www.elsevier.com/xml/common/struct-aff/dtd\"
        xmlns:sb=\"http://www.elsevier.com/xml/common/struct-bib/dtd\" xmlns:tb=\"http://www.elsevier.com/xml/common/table/dtd\"
        xmlns:xlink=\"http://www.w3.org/1999/xlink\" xmlns:xocs=\"http://www.elsevier.com/xml/xocs/dtd\"
        xmlns:dc=\"http://purl.org/dc/elements/1.1/\" xmlns:dcterms=\"http://purl.org/dc/terms/\"
        xmlns:prism=\"http://prismstandard.org/namespaces/basic/2.0/\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"><coredata><prism:url>https://api.elsevier.com/content/article/pii/S0969996112001283</prism:url><dc:identifier>doi:10.1016/j.nbd.2012.03.039</dc:identifier><eid>1-s2.0-S0969996112001283</eid><prism:doi>10.1016/j.nbd.2012.03.039</prism:doi><pii>S0969-9961(12)00128-3</pii><dc:title>Neural
        response to reward as a predictor of increases in depressive symptoms in adolescence
        </dc:title><prism:publicationName>Neurobiology of Disease</prism:publicationName><prism:aggregationType>Journal</prism:aggregationType><pubType>fla</pubType><prism:issn>09699961</prism:issn><prism:volume>52</prism:volume><prism:startingPage>66</prism:startingPage><prism:endingPage>74</prism:endingPage><prism:pageRange>66-74</prism:pageRange><dc:format>text/xml</dc:format><prism:coverDate>2013-04-30</prism:coverDate><prism:coverDisplayDate>April
        2013</prism:coverDisplayDate><prism:copyright>Copyright \xA9 2012 Elsevier
        Inc. All rights reserved.</prism:copyright><prism:publisher>Elsevier Inc.</prism:publisher><dc:creator>Morgan,
        Judith K.</dc:creator><dc:creator>Olino, Thomas M.</dc:creator><dc:creator>McMakin,
        Dana L.</dc:creator><dc:creator>Ryan, Neal D.</dc:creator><dc:creator>Forbes,
        Erika E.</dc:creator><dc:description>\n                  Adolescence is a
        developmental period characterized by significant increases in the onset of
        depression, but also by increases in depressive symptoms, even among psychiatrically
        healthy youth. Disrupted reward function has been postulated as a critical
        factor in the development of depression, but it is still unclear which adolescents
        are particularly at risk for rising depressive symptoms. We provide a conceptual
        stance on gende[...]
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.elsevier.com/content/article/doi/10.1016/j.ntt.2005.12.008?httpAccept=text%2Fxml&view=FULL
  response:
    body:
      string: "<full-text-retrieval-response xmlns=\"http://www.elsevier.com/xml/svapi/article/dtd\"
        xmlns:bk=\"http://www.elsevier.com/xml/bk/dtd\" xmlns:cals=\"http://www.elsevier.com/xml/common/cals/dtd\"
        xmlns:ce=\"http://www.elsevier.com/xml/common/dtd\" xmlns:ja=\"http://www.elsevier.com/xm[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.elsevier.com/content/article/doi/10.1016/j.neuro.2015.07.002?httpAccept=text%2Fxml&view=FULL
  response:
    body:
      string: "<full-text-retrieval-response xmlns=\"http://www.elsevier.com/xml/svapi/article/dtd\"
        xmlns:bk=\"http://www.elsevier.com/xml/bk/dtd\" xmlns:cals=\"http://www.elsevier.com/xml/common/cals/dtd\"
        xmlns:ce=\"http://www.elsevier.com/xml/common/dtd\" xmlns:ja=\"http://www.elsevier.com/[...]
