interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.elsevier.com/content/article/pubmed_id/31262544?httpAccept=text%2Fxml&view=FULL
  response:
    body:
      string: "<full-text-retrieval-response xmlns=\"http://www.elsevier.com/xml/svapi/article/dtd\"
        xmlns:bk=\"http://www.elsevier.com/xml/bk/dtd\" xmlns:cals=\"http://www.elsevier.com/xml/common/cals/dtd\"
        xmlns:ce=\"http://www.elsevier.com/xml/common/dtd\" xmlns:ja=\"http://www.elsevier.com/xml/ja/dtd\"
        xmlns:mml=\"http://www.w3.org/1998/Math/MathML\" xmlns:sa=\"http://www.elsevier.com/xml/common/struct-aff/dtd\"
        xmlns:sb=\"http://www.elsevier.com/xml/common/struct-bib/dtd\" xmlns:tb=\"http://www.elsevier.com/xml/common/table/dtd\"
        xmlns:xlink=\"http://www.w3.org/1999/xlink\" xmlns:xocs=\"http://www.elsevier.com/xml/xocs/dtd\"
        xmlns:dc=\"http://purl.org/dc/elements/1.1/\" xmlns:dcterms=\"http://purl.org/dc/terms/\"
        xmlns:prism=\"http://prismstandard.org/namespaces/basic/2.0/\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"><coredata><prism:url>https://api.elsevier.com/content/article/pii/S0924977X19302561</prism:url><dc:identifier>doi:10.1016/j.euroneuro.2019.05.008</dc:identifier><eid>1-s2.0-S0924977X19302561</eid><prism:doi>10.1016/j.euroneuro.2019.05.008</prism:doi><pii>S0924-977X(19)30256-1</pii><dc:title>Resting-state
        functional connectivity after hydrocortisone administration in patients with
        post-traumatic stress disorder and borderline personality disorder </dc:title><prism:publicationName>European
        Neuropsychopharmacology</prism:publicationName><prism:aggregationType>Journal</prism:aggregationType><pubType>fla</pubType><prism:issn>0924977X</prism:issn><prism:volume>29</prism:volume><prism:issueIdentifier>8</prism:issueIdentifier><prism:startingPage>936</prism:startingPage><prism:endingPage>946</prism:endingPage><prism:pageRange>936-946</prism:pageRange><prism:number>8</prism:number><dc:format>text/xml</dc:format><prism:coverDate>2019-08-31</prism:coverDate><prism:coverDisplayDate>August
        2019</prism:coverDisplayDate><prism:copyright>\xA9 2019 Elsevier B.V. and
        ECNP. All rights reserved.</prism:copyright><prism:publisher>Elsevier B.V.
        and ECNP.</prism:publisher><dc:creator>Metz, Sophie</dc:creator><dc:creator>Fleischer,
        Juliane</dc:creator><dc:creator>Grimm, Simone</dc:creator><dc:creator>G\xE4rnter,
        Matti</dc:creator><dc:creator>Golde, Sabrina</dc:creator><dc:creator>Duesenberg,
        Moritz</dc:creator><dc:creator>Roepke, Stefan</dc:creator><dc:creator>Wolf,
        Oliver T.</dc:creator><dc:creator>Otte, Christian</dc:creator><dc:creator>Wingenfeld,
        Katja</dc:creator><dc:description>\n                  In a previous study,
        we found that - in contrast to healthy individuals - patients with borderline
        personality disorder (BPD) and post-traumatic stress disorder (PTSD) showed
        better memory retrieval performance after hydrocortisone administration compared
        to placebo. As these results suggest an altered function of corticosteroid
        receptors in the brain in PTSD and BPD, we examined the effect of hydrocortisone
        on brain activation [...]
[...]
